[submodule "vendor/github.com/go-fsnotify/fsnotify"]
	path = vendor/github.com/go-fsnotify/fsnotify
	url = https://github.com/go-fsnotify/fsnotify
[submodule "vendor/github.com/gorilla/mux"]
	path = vendor/github.com/gorilla/mux
	url = https://github.com/gorilla/mux
[submodule "vendor/github.com/mcuadros/go-version"]
	path = vendor/github.com/mcuadros/go-version
	url = https://github.com/mcuadros/go-version
[submodule "vendor/golang.org/x/sys"]
	path = vendor/golang.org/x/sys
	url = https://go.googlesource.com/sys
